In [ ]:
1. Write a Python program to create a set.

In [3]:
a=set()
print(type(a))
b={1,2,3}
b

<class 'set'>

{1, 2, 3}

In [ ]:
2. Write a Python program to iterate over sets.

In [8]:
a="venkatesh"
b=set(a)
for i in b:
    print(i,end=" ")
print(" ")
x={1,2,3,4,5,6,4}
for i in x:
    print(i,end=" ")

k t n h e v s a
1 2 3 4 5 6

In [ ]:
3. Write a Python program to add member(s) to a set.

In [13]:
a=set()
a.add("pink")
a.update(["red","green"])
a

{'green', 'pink', 'red'}

In [17]:
#4. Write a Python program to remove item(s) from a given set.
a={"red","pink","yellow"}
a.discard("grey")
a

{'pink', 'red', 'yellow'}

In [ ]:
5. Write a Python program to remove an item from a set if it is present in the set.

In [18]:
a={"red","pink","yellow"}
a.discard("grey")
a

{'pink', 'red', 'yellow'}

In [ ]:
6.Write a Python program to create an intersection of sets.

In [26]:
a={"red","pink","yellow"}
b={"pink","grey","purple"}
c=set()
for i in a:
    for j in b:
        if i==j:
            c.add(i)
print(c)
#======================
print(a&b)

{'pink'}
{'pink'}

In [ ]:
7. Write a Python program to create a union of sets.

In [54]:
a={"red","pink","yellow"}
b={"pink","grey","purple"}
c=set()
for i in a:
    for j in b:
        if i==j:
            c.add(i)
        else:
            c.add(i)
            c.add(j)
print(c)
k=a|b
print(k)

{'pink', 'grey', 'yellow', 'purple', 'red'}
{'pink', 'purple', 'yellow', 'grey', 'red'}

In [ ]:
8. Write a Python program to create set difference.

In [56]:
a={"red","pink","yellow"}
b={"pink","grey","purple"}
c=set()
for i in a:
    if i  not in b:
        c.add(i)
c

{'red', 'yellow'}

In [ ]:
9. Write a Python program to create a symmetric difference.

In [59]:
a={"red","pink","yellow"}
b={"pink","grey","purple"}
c=set()
for i in a:
    if i not in b:
        c.add(i)
for i in b:
    if i not in a:
        c.add(i)

print(c)
k=a^b
print(k)

{'red', 'grey', 'purple', 'yellow'}
{'yellow', 'grey', 'purple', 'red'}

In [ ]:
10. Write a Python program to check if a set is a subset of another set.

In [65]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
if setz.issubset(setx):
    print("true")
else:
    print("False")

tesd

In [ ]:
11. Write a Python program to create a shallow copy of sets.

Note : Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object.

In [66]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
a=setx.copy()
a

{'apple', 'mango'}

In [ ]:
12. Write a Python program to remove all elements from a given set.

In [71]:
setc = {"Red", "Green", "Black", "White"}
setc.clear()
setc

set()

In [ ]:
14. Write a Python program to find the maximum and minimum values in a set.

In [72]:
setn = {5, 10, 3, 15, 2, 20}
print(max(setn))
print(min(setn))

20
2

In [ ]:
15. Write a Python program to find the length of a set.

In [73]:
setn = {5, 10, 3, 15, 2, 20}
len(setn)

6

In [ ]:
16. Write a Python program to check if a given value is present in a set or not.

In [75]:
nums = {1, 3, 5, 7, 9, 11}
k=int(input())
if k in nums:
    print(True)
else:
    print(False)

 14

False

In [ ]:
17. Write a Python program to check if two given sets have no elements in common.

In [76]:
x = {1, 2, 3, 4}
y = {4, 5, 6, 7}
k=x.isdisjoint(y)
k

False

In [ ]:
18. Write a Python program to check if a given set is a superset of itself and a superset of another given set.

In [80]:
num1 = {1, 2, 3, 4, 5, 7}
num2 = {2, 4}
num3 = {2, 4}
k=num1.issuperset(num3)
k

True

In [ ]:
19. Write a Python program to find elements in a given set that are not in another set.

In [81]:
n1 = {1, 2, 3, 4, 5}
sn2 = {4, 5, 6, 7, 8}
print(n1-sn2)

{1, 2, 3}

In [ ]:
20. Write a Python program to remove the intersection of a second set with a first set.

In [82]:
n1 = {1, 2, 3, 4, 5}
sn2 = {4, 5, 6, 7, 8}
print(n1-sn2)

{1, 2, 3}

In [ ]:
21. Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings. Use Python set data type.

In [83]:
words = ['Red', 'Green', 'Red', 'Blue', 'Red', 'Red', 'Green']
b={}
for i in set(words):
    b[i]=words.count(i)
b

{'Blue': 1, 'Red': 4, 'Green': 2}

In [ ]:
22. Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [84]:
nums = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
target=35
k=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            k.append((nums[i],nums[j]))
k

[(15, 20), (16, 19), (17, 18)]

In [88]:
nums = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
target=35
k1=[]
for i in nums:
    y=set()
    k=target-i
    if k in nums:
        y.update([i,k])
        k1.append(y)
k1

[{15, 20}, {16, 19}, {17, 18}, {17, 18}, {16, 19}, {15, 20}]

In [ ]:
23. Write a Python program to find the longest common prefix of all strings. Use the Python set.

In [91]:
a=['pqrefgh', 'pqrsfgh']

{'f', 'g', 'h', 'p', 'q', 'r'}

In [ ]:
24. Write a Python program to find the two numbers whose product is maximum among all the pairs in a given list of numbers. Use the Python set.

In [94]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b=sorted(set(nums))
print((b[-1],b[-2]))

(9, 8)

In [ ]:
25. Given two sets of numbers, write a Python program to find the missing numbers in 
the second set as compared to the first and vice versa. Use the Python set.

In [95]:
s = {1, 2, 3, 4, 5}
s1= {6, 7, 8}
print(s-s1)
print(s1-s)

{1, 2, 3, 4, 5}
{8, 6, 7}

In [ ]:
26. Write a Python program to find all the anagrams and group them together from a given list of strings. Use the Python data type.

In [139]:
a=['eat', 'cba', 'tae', 'abc', 'xyz']
k1=[]
for i in a:
    k1+=[0]
for i in range(len(a)):
    b=[]
    x=a[i]
    for j in range(i+1,len(a)):
        if k1[i]!=-1:
            count=0
            for k in a[j]:
                if k in a[i]:
                    count+=1
            if count==len(a[i]):
                b.append(a[i])
                b.append(a[j])
                k1[i]=-1
    k1.append(b)
k1

[-1, -1, 0, 0, 0, ['eat', 'tae'], ['cba', 'abc'], [], [], []]

True

In [138]:
strs = ['eat', 'cba', 'tae', 'abc', 'xyz']
a=[]
k=[0,0,0,0,0]
for i in strs:
    a.append(''.join(sorted(i)))
a

b=[]
for i in range(len(a)):
         if k[i]!=-1:
             k1=[]
             k1.append(strs[i])
             for j in range(i+1,len(a)):
                if a[i]==a[j]:
                    k1.append(strs[j])
                    k[j]=-1
             b.append(k1)
b

[['eat', 'tae'], ['cba', 'abc'], ['xyz']]

In [ ]:
a

In [ ]:
28. Write a Python program to find all the unique combinations of 3 numbers from a given list of numbers, adding up to a target number.

In [106]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 12
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        k=target-(nums[i]+nums[j])
        y=nums[j+1:]
        if k in y:
            print(nums[i],nums[j],k)

1 2 9
1 3 8
1 4 7
1 5 6
2 3 7
2 4 6
3 4 5

In [ ]:
29. Write a Python program to find the third largest number from a given list of numbers.Use the Python set data type.

In [108]:
nums = [1, 2, 3, 4, 5, 5, 6, 7, 7, 8, 8, 9, 10]
b=sorted(set(nums))
b[-3]

8

In [110]:
nums = [1, 2,2]
try:
    b=sorted(set(nums))
    b[-3]
except:
    print("None")

None

In [ ]:
30. Write a Python program to remove all duplicates from a given list of strings and return a list of unique strings. Use the Python set data type.

In [111]:
strs = ['foo', 'bar', 'abc', 'foo', 'qux', 'bar', 'baz']
b=set(strs)
c=list(b)
c

['foo', 'qux', 'abc', 'bar', 'baz']

In [6]:
a=int(input())
for i in range(a):
    k=int(input())
    if k%2==0:
        print(-1)
    else:
        f=[]
        count=0
        for i in range(k):
            if (2*i)+1==k:
                print(i)
                print("2")
            elif (2*i)-1==k:
                print(i)
                print("1")
            else:
                x=k//2
                i=1
                k1=1
                while True:
                    if k1<x:
                        k1=2*(i)-1
                        count+=1
                        i=i+1
                        f.append("1")
                    else:
                        break
            print(f,count)

 4
 2

-1

 3

[] 0
1
2
[] 0
2
1
[] 0

 7

['1', '1'] 2
['1', '1', '1', '1'] 4
['1', '1', '1', '1', '1', '1'] 6
3
2
['1', '1', '1', '1', '1', '1'] 6
4
1
['1', '1', '1', '1', '1', '1'] 6
['1', '1', '1', '1', '1', '1', '1', '1'] 8
['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'] 10

 e

ValueError: invalid literal for int() with base 10: 'e'

In [13]:
 a,b=map(int,input().split())
c=[]
for i in range(a):
    d=list(map(int,input().split()))
    c.append(d)
print(c)
q=int(input())
for i in range(q):
    k=list(map(int,input().split()))
    a1=k[0]
    a2=k[1]-1
    a3=k[2]-1
    if a1=="1":
        try:
            while a2<a or a3<b:
                if c[a2+1][a3]>c[a2][a3+1]:
                    count=count+c[a2+1][a3]
                    print(count)
                    a2=a2+1
                else:
                    count+=c[a2][a3+1]
                    print(count)
                    a3=a3+1
        except:
           count+=c[a-1][b-1]
count

 4 5
 -21 1 8 35 40
 14 -21 -26 -35 -29
 -40 36 48 37 24
 46 8 33 -21 -3
 2
 1 1 1
 1 2 2

In [5]:
c=[[-21,1,8,35,40],[14,-21,-26,-35,-29],[-40,36,48,37,24],[46,8,33,-21,-3]]
a=4
b=5
a2=int(input())
a3=int(input())
a2=a2-1
a3=a3-1
x=c[a2][a3]
count=x

try:
    while a2<a or a3<b:

            if c[a2+1][a3]>c[a2][a3+1]:
                count=count+c[a2+1][a3]
                a2=a2+1
            else:
                count+=c[a2][a3+1]
                a3=a3+1
except: 
    if a3>a-1:
        for i in range(a3,4+1):
            count+=c[i][b-1]
    else:
        for i in range(a2,4+1):
            count+=c[a-1][i]
    
count

 4
 4

-45

In [2]:
c=[[-21,1,8,35,40],[14,-21,-26,-35,-29],[-40,36,48,37,24],[46,8,33,-21,-3]]
a=4
b=5
a2=int(input())
a3=int(input())
a2=a2-1
a3=a3-1
x=c[a2][a3]
if x>0:
    count=x
else:
    count=0
print(count)


try:
    while a2<a or a3<b:
    
            if c[a2+1][a3]>c[a2][a3+1] and c[a2+1][a3]>=0:
                count=count+c[a2+1][a3]
                
                a2=a2+1
            elif c[a2+1][a3]>c[a2][a3+1] and c[a2+1][a3]<0:
                 a2=a2+1 
            elif c[a2+1][a3]<c[a2][a3+1] and c[a2][a3+1]<0:
                 a3=a3+1 
            elif c[a2+1][a3]<c[a2][a3+1] and c[a2][a3+1]>=0:
                count+=c[a2][a3+1]
                print(count)
                a3=a3+1
                    
except:            
    if c[a-1][b-1]>=0:
        count+=c[a-1][b-1]
count

 4
 3

33

33